body {
    text-align: center;
    background-color: black;
    background: repeating-radial-gradient(
        circle at bottom right,
        #eee,
        #ccc 50px
      );
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      perspective: 1000px;
}
@keyframes spin {
    from {
      transform: rotatey(0deg);
    }
    to {
      transform: rotatey(360deg);
    }

  }

  .rotating-image {
    animation: spin 10s linear infinite;
    transform-style: preserve-3d;
  }
.heading-border{
      background-color: black;
      border: 1px solid yellow;
      border-radius: 10;
      max-width: 800px;
      margin: 100px auto 40px;
      padding: 1px;
      box-shadow: 0 8px 25px red;
      backdrop-filter: blur(10px);

      text-align: center;
}
h1 {
    font-style: italic;
    text-shadow: 10px 4px 12px red;
    color: white;
   font-size: 3em;
} 

h2{
    text-shadow: 10px 10px 12px red;
    color: white;
   font-size: 1.5em;
} 
h3{
    text-shadow: 0px 5px 10px yellow;
}
p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    font-style: oblique;
    color: red;
    text-shadow: 1px 4px 12px rgb(242, 255, 183);
}
.p-header {
    background-color: rgb(255, 223, 223);
    max-width: 800px;
    margin: 100px auto 40px;
    padding: 1px;
    box-shadow: 0 8px 25px red;
    backdrop-filter: blur(10px);

    text-align: center;
}
li{
    text-align: left;
    color: rgb(160, 30, 160);
   
    font-size: 50px;
}
img{
    box-shadow: 0 4px 4px yellow;

    
}

.top-corner-img{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
}

a {
    color: red;
}


.hover-white:hover {
    background-color: white;
    font-size: 20px;
 }